@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body,
html {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  background: #FFFEEC;
}

.backgound-button {
  background: #E9FC88;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 6px 0px rgba(103, 110, 118, 0.08);
}

.flex-gap {
  gap: 2rem;
}

a {
  text-decoration: none;
  color: #202124;
}

span {
  margin-bottom: 3px;
}

strong {
  color: #BCB4FF;
}

.banner-filtro {
  position: absolute;
  top: 0;
  z-index: 35;
  background-image: url(../assets/images/Texture.png), linear-gradient(180deg, rgba(255, 254, 236, 0.14) 0%, rgba(255, 254, 236, 0.08) 100%);
  backdrop-filter: blur(12px);
  background-position: center;
  background-size: cover;
  mix-blend-mode: soft-light;
  height: 512px;
  width: 100%;
}


.container-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 512px;
  overflow: hidden;
  z-index: 10;
}

#banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work {
  background: #E9FC88;
}

.filter {
  background-image: url(../assets/images/Texture.png);
  backdrop-filter: blur(8px);
  background-position: center;
  background-size: cover;
  mix-blend-mode: soft-light;
}

.link-work {
  border-radius: 10px;
  border: 1px solid rgba(255, 254, 236, 0.20);
  background: linear-gradient(180deg, rgba(255, 254, 236, 0.35) 0%, rgba(255, 254, 236, 0.20) 100%);
  background-blend-mode: soft-light;
  backdrop-filter: blur(80px);
}