@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  cursor: pointer;
}

body,
html {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  background: #fffeec;
}

.backgound-button {
  background: #e9fc88;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12),
    0px 0px 0px 1px rgba(103, 110, 118, 0.16),
    0px 2px 6px 0px rgba(103, 110, 118, 0.08);
}
.backgound-button:hover {
  background: #d7ea76;
}

.flex-gap {
  gap: 2rem;
}

a {
  text-decoration: none;
  color: #202124;
}

span {
  margin-bottom: 3px;
}

strong {
  color: #bcb4ff;
}

.banner-filtro {
  position: absolute;
  top: 0;
  z-index: 35;
  background-image: url(../assets/images/Texture.png),
    linear-gradient(
      180deg,
      rgba(255, 254, 236, 0.14) 0%,
      rgba(255, 254, 236, 0.08) 100%
    );
  backdrop-filter: blur(12px);
  background-position: center;
  background-size: cover;
  mix-blend-mode: soft-light;
  /* height: 600px; */
  width: 100%;
}

.container-video {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 600px; */
  overflow: hidden;
  z-index: 10;
}

#banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work {
  background: #e9fc88;
}

.filter1 {
  background-image: url(../assets/images/Texture.png);
  backdrop-filter: blur(8px);
  background-position: center;
  background-size: cover;
  mix-blend-mode: soft-light;
}

.link-work {
  border-radius: 10px;
  border: 1px solid rgba(255, 254, 236, 0.2);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 236, 0.35) 0%,
    rgba(255, 254, 236, 0.2) 100%
  );
  background-blend-mode: soft-light;
  backdrop-filter: blur(80px);
}
.link-work:hover{
  background-color: #bcb4ff;
}
.details {
  border-radius: 100px;
  min-width: 60px;
  border: 1px solid var(--Black, #202124);
}
.vector {
  top: -85px;
}
#vector1 {
  position: absolute;
  top: -199px;
  width: 200px;
  z-index: 4;
}
#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.filter {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 12;
  background: linear-gradient(
    180deg,
    rgba(131, 127, 127, 0.4) 0%,
    rgba(127, 124, 124, 0.4) 100%
  );
  backdrop-filter: blur(8px);
}
.link-footer {
  border-radius: 10px;
  background: var(--Green, #e9fc88);

  /* Button shadow */
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12),
    0px 0px 0px 1px rgba(103, 110, 118, 0.16),
    0px 2px 6px 0px rgba(103, 110, 118, 0.08);
}
.navbar--active {
  background: linear-gradient(
    180deg,
    rgba(255, 254, 236, 0.35) 0%,
    rgba(255, 254, 236, 0.2) 100%
  );
  background-blend-mode: soft-light;
  backdrop-filter: blur(80px);
  height: 50px;
  transition: all 0.5s;
}
#item-3 img{
  display: none;
}
#item-0{
  justify-content: start;
}
#item-4{
  display: flex;
  justify-content: end;
  align-items: center;
}
.paragraph{
  width: 75%;
}


@media only screen and (min-width: 1290px){
  #item-0, #item-4{
    justify-content: start;
  }
#angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  margin-bottom: -250px;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 4;
  padding-top: 5rem;
}
#item-1 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 6;
  padding-top: 8rem;
  padding-right: 3rem;
}
#item-2 {
  grid-row-start: 1;
  grid-column-start: 6;
  grid-row-end: 3;
  grid-column-end: 7;
  padding-top: 3rem;
}
#item-3 {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-row-end: 5;
  grid-column-end: 7;
  padding-top: 3rem;
}
#item-3 img {
  display: none;
}
#item-4 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 6;
  grid-column-end: 7;
  margin-right: 60px;
  margin-top: 8rem;
}
#item-5 {
  grid-row-start: 5;
  grid-column-start: 5;
  grid-row-end: 7;
  grid-column-end: 7;
  margin-left: 50px;
}
}
.index {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.border-b {
  border-bottom: 1px solid #202124;
}
.vector-1 {
  bottom: -14px;
}

.navbar--Responsive {
  position: absolute;
  top: -500px;
  display: none;
  background: linear-gradient(
    180deg,
    rgba(131, 127, 127, 0.4) 0%,
    rgba(127, 124, 124, 0.4) 100%
    );
    backdrop-filter: blur(8px);
    transition: all 1s ease-in-out;
}

@media only screen and (max-width: 640px) {
  .navbar--Open {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    flex-direction: column;
    padding: 25px;
    padding-top: 50px;
    z-index: 100;
    height: 100vh;
    transition: all 1s ease-in-out;
  }
}
.black{
  border: 1px solid black;
}